name: Generate and submit documentation
on:
  pull_request:
    types: [ closed ]
    branches:
      - main

jobs:
  generate-documentation:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref == 'develop'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.AUTHORIZATION_TOKEN }}
        ref: main

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Build
      uses: docker/build-push-action@v4
      id: built-image
      with:
        context: .
        file: ./Dockerfile
        push: false
        load: true
        tags: estimators-lib:latest
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache

    - name: Generate documentation
      run: docker run --rm -v $PWD:/home/cryptographic_estimators/ estimators-lib make doc
    - name: Commit files
      run: |
        git config --local user.email "githubactions@githubactions.com"
        git config --local user.name "githubactions"
        git add .
        git commit  -m "Add Documentatio"
          
    - name: commit-push-changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.AUTHORIZATION_TOKEN }}
        branch: main
        repository: Crypto-TII/CryptographicEstimators

    - name: Update develop branch
      uses: morbalint/git-merge-action@v1
      with:
        target: 'develop'
        source: 'main'
        token: ${{ secrets.AUTHORIZATION_TOKEN }}
        strategy_options: 'ours'
